#button{
    color:black ;
    background-color: grey;
    min-width: 160px;
    padding: 15px 37px;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
#time{
    min-width: 160px;
    padding: 15px 37px;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    
}
h1{
    size:50px ;
    font-family: inherit;
        color: grey;
       text-align: center;
}

#time::placeholder {
    color: grey;
    
}
#timer{
    font-size: 50px;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.Link{
    font-size: 30px;
  
    color:black;
    display: block;
    text-align:center;
 
}
li {
    list-style: none;
}